
.tournament{
    background-color: #000000;
}
@media only screen and (min-width: 250px) {
    .league-container {
     display: grid;
     grid-template-columns: repeat(1, 1fr);
     grid-gap: 20px;
   }
   .detail-div{
       display: grid;
       grid-template-columns: repeat(1, 1fr);
   }
   .detail-div .side-img{
    height: 290px;
   }
   .half-detail-2{
    margin-top: 10px;
   }
   .single-league{
    height: 210px;
   } 
   .league-container{
   margin: 20px;
}
}
   .detail-div .side-img{
    width: 100%;
   }
@media only screen and (min-width: 784px) {
     .league-container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 20px;
    }
    .detail-div{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .detail-div .side-img{
        height: 255px;
    }
    .half-detail-2{
        margin-left: 50px;
    } 
    .single-league{
        height: 190px;
       } 
    .league-container{
       margin: 100px;
    }
}
@media only screen and (min-width: 1100px) {
     .league-container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 20px;
    }
}
.first-width{
    background-image: url("https://i.ibb.co/CM3pq58/A-wide-angle-of-a-outdoor-soccer-stadium-outdoor-stadium-or-arena-full-of-spectators-under-a-dramati.jpg");
    background-repeat: no-repeat;
    background-size: 1440px 300px;
    background-position: center;
    background-attachment:local;
    height: 300px;
    /* opacity: 0.5; */

}
.first-width-opacity{
    opacity: 0.7;
}
.first-width h1{
    color:deeppink;
    text-align: center;
    position: relative;
    top: 60px;
}
*{
    margin: 0%;
    padding: 0%;
}