.detail-div{
    background-color: rgb(67, 67, 199);
    color: white;
    border-radius: 30px;
    padding: 10px;
}
.logo-style{
   height: 200px;
   width: 300px;
}
.para-detail{
    color: white;
}
.para-detail{
    text-align: justify;
}
.detail-div .icon-img{
   height: 20px;
}
.detail-container{
    margin: 35px;
}
.social-icon img{
    height: 60px;
}
.social-icon{
    height: 200px;
    text-align: center;
    margin-top: 100px;
}